<div class="trail-card favorite-trail-card">
  <h3 class="trail-rating">
    <%= savedTrails.rating %> <i class="fas fa-star"></i>
  </h3>
  <h2 class="trail-name">
    <%= savedTrails.trail %>
  </h2>
  </h4>
  <img class="trail-img" src="<%= savedTrails.img_url %>" alt="<%= savedTrails.trail %>">
  <h4 class="trail-city">
    <%= savedTrails.city %>
  </h4>
  <h3 class="trail-length">
    <%= savedTrails.distance %> Miles
  </h3>
  <h3 class="trail-length">
    Difficulty Rating: <%= savedTrails.difficulty %>
  </h3>
  <h3 class="trail-length">
    Elevation Gain: <%= savedTrails.elevation %>
  </h3>

  <%- include('favorite-detail', {savedTrails: savedTrails, userInfo: userInfo}) %>

</div>