<nav id="menu" class="nav-hide">
  <ul>
    <li><i class="far fa-map left-icon"></i>Navigation<i class="fas fa-map-pin right-icon"></i></li>
    <li><a href="/home/<%= userInfo %>"><i class="fas fa-campground left-icon"></i>Home</li></a>
    <li class="search"><i class="fas fa-search-location left-icon"></i>Search</li>
    <li><a href="/profile/<%= userInfo %>"><i class="far fa-address-card left-icon"></i>Profile</li></a>
    <li><a href="/favorites/<%= userInfo %>"><i class="fas fa-clipboard-list left-icon"></i>Favorites</li></a>
    <li><a href="/completed/<%= userInfo %>"><i class="fas fa-check left-icon"></i>Completed</li></a>
    <li><a href="/about_us/<%= userInfo %>"><i class="fas fa-users left-icon"></i>About Us</li></a>
  </ul>
</nav>