<div class="trail-card">
  <h3 class="trail-rating">
    <%= trail.rating %> <i class="fas fa-star"></i>
  </h3>
  <h2 class="trail-name">
    <%= trail.trail %>
  </h2>
  <!-- <h4 class="trail-id"># <%= trail.trailID %>
  </h4> -->
  <img class="trail-img" src="<%= trail.img_url %>" alt="<%= trail.trail %>">
  <h4 class="trail-city">
    <%= trail.city %>
  </h4>
  <h3 class="trail-length">
    <%= trail.distance %> Miles
  </h3>

  <!-- <h3 class="trail-diff">
    <%= trail.difficulty %>
  </h3> -->

  <%- include('detail', {trail: trail, userInfo: userInfo}) %>

</div>